body{
  margin: 0px;
  margin-top: 0px;
  font-family: 'Montserrat', serif;
  line-height: 1.6;
  height: 100vh;
  display: table;
  width: 100%;
}

h1 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}